.header {
    border-bottom: 1px solid #ececec;

    background-color: $background-main;

    &__container {
      display: flex;
      align-items: center;
    }
}

/* fixed header */

/* .header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body {
  margin-top: 80px;
} */